<%- include('layouts/boilerplate')%>

<h1>Edit product</h1>
<form action="/products/<%=product._id%>?_method=PUT" method="POST">
    <label for="name">Product name</label>
    <input type="text" name="name" id="name" placeholder="product name" value="<%=product.name%>">
    <label for="price">Price</label>
    <input type="number" name="price" id="price" placeholder="product price" value="<%=product.price%>">
    <button>Submit</button>
</form> 
<a href="/products/<%=product._id%>">Cancel</a>   
    
